body {
    padding-left: 11em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
}

.container {
    display: table-cell;
    vertical-align:middle;
    height: 500px;
    padding: 10px;
    border: 0px solid black;
    text-align: center;
}

.state {
    font-size:23px;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 33px;
}

#svg_pie_1 {
    padding-left: 2em;
}

#svg_pie_1 > svg {
    margin-top: -3em;
}

#svg_pie_1 > svg > g > text:nth-of-type(1) {
    display: none;
}

#svg_pie_1 > svg > g > text:nth-of-type(8) {
    display: none;
}


/* COUNTRY */
/* #svg_choropleth_1 > g > path {
    fill: rgb(99, 195, 208);
} */

/* WIEN 1 */
#svg_choropleth_1 > g > path:nth-of-type(13) {
    fill: rgb(4, 0, 255);
}

/* TASK 3 */

#svg_pie_3 {
    padding-left: 2em;
}

#svg_pie_3 > svg {
    margin-top: -3em;
}

#svg_pie_3 > svg > g > text:nth-of-type(1) {
    display: none;
}

#svg_pie_3 > svg > g > text:nth-of-type(8) {
    display: none;
}



/* #state_3 {
    font-size:16px;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 50px;
} */

/* WIEN */
 #svg_choropleth_3 > g > path:nth-of-type(1) {
    stroke: rgb(255, 0, 0);
    stroke-width: 0.5px;
    fill: rgb(255, 255, 255);
    /* fill: rgb(255, 0, 0); */
    opacity: 0.0;
}

.svg_choropleth_3 > g > path:hover {
    fill:#e8c9c9;
}

